apiVersion: v1
kind: ConfigMap
metadata:
  name: qdrouterd-config
data:
  qdrouterd.conf: |+
    # See the qdrouterd.conf (5) manual page for information about this
    # file's format and options.

    router {
        mode: interior
        id: {{ sa_telemetry_qdr_id }}
    }

    # This is for _client_ connections (senders and receivers, collectd wirtes to this )
    # to connect on port 5672:
    listener {
        host: 0.0.0.0
        port: amqp
        authenticatePeer: no
        saslMechanisms: ANONYMOUS
    }

    listener {
        host: 0.0.0.0
        port: 20001
        role: inter-router
        authenticatePeer: no
        saslMechanisms: ANONYMOUS
    }

    # Various address prefix -> distribution pattern
    # configurations:
    #
    address {
        prefix: closest
        distribution: closest
    }

    address {
        prefix: multicast
        distribution: multicast
    }

    address {
        prefix: unicast
        distribution: closest
    }

    address {
        prefix: exclusive
        distribution: closest
    }

    address {
        prefix: broadcast
        distribution: multicast
    }
